.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Card {
  background: greenyellow;
  width: 150px;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 0 4px 2px black;

}

.StatusWrapper {
  background: white;
  min-height: 200px;
}

.NameWrapper {
  background: white;
  min-height: 50px;
}

.CoachWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.NameWrapper:focus {
  transform: scale(1.1);
}